name: stack02
services:
  # --- APACHE HTTP ---
  apache:
    image: httpd:2.4
    container_name: stack02_apache
    depends_on:
      - wildfly
    ports:
      - "80:80"
    volumes:
      - ./apache/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
      - ./logs/apache:/usr/local/apache2/logs
    networks:
      - network

  # --- WILDFLY/JBOSS ---
  wildfly:
    build:
      context: ./wildfly
      args:
        - WF_ADMIN_USER=admin
        - WF_ADMIN_PASSWORD=Admin.1234
        - WF_SERVER_NAME=server-local
    image: stack02/wildfly:latest
    container_name: stack02_wildfly
    environment:
      - JBOSS_HOME=/apps/stack02/wildfly
    ports:
      - "8080:8080"
      - "9990:9990"
    volumes:
      - ./deployments:/apps/stack02/wildfly/standalone/deployments
      - ./logs/wildfly:/apps/stack02/wildfly/standalone/log
      - wildfly_data:/apps/stack02/wildfly/standalone/configuration
    networks:
      - network

  # --- ELASTICSEARCH ---
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
    container_name: stack02_elasticsearch
    environment:
      - discovery.type=single-node
      - cluster.name=stack02-es
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
      - ./logs/elasticsearch:/usr/share/elasticsearch/logs
    networks:
      - network

  # --- ACTIVE DIRECTORY ---
  samba-ad:
    build:
      context: ./samba-ad
    image: stack02/samba-domain:latest
    container_name: stack02_ad
    privileged: true
    environment:
      - DOMAIN=stack02.local
      - DOMAINPASS=Admin_Password_2025!
      - DNSFORWARDER=8.8.8.8
      - HOSTNAME=stack02-ad-local
      - APP_GROUPS=App_Admins,App_Users,App_Systems
      - APP_SUB_OU_NAME=Stack02
      - APP_STACK02_GROUPS=App
    volumes:
      - samba_data:/var/lib/samba
      - samba_config:/etc/samba/external
    ports:
      - "389:389"        # LDAP
      - "636:636"        # LDAPS
    networks:
      - network

  # --- LDAP ---
  openldap:
    image: osixia/openldap:1.5.0
    container_name: stack02_ldap
    # El comando --copy-service evita que el script falle al intentar modificar archivos en volúmenes montados.
    command: ["--copy-service", "--loglevel", "debug"]
    environment:
      - LDAP_ORGANISATION=stack02Empresa
      - LDAP_DOMAIN=stack02.local
      - LDAP_ADMIN_PASSWORD=adminpassword
      - LDAP_CONFIG_PASSWORD=configpassword
      # Desactivamos TLS para evitar el error de certificados/enlaces
      - LDAP_TLS=false
      # Deshabilita el cambio de dueño de archivos problemático
      - DISABLE_CHOWN=true
    # Ports LDAP estándard y TLS: 389, 636
    ports:
      - "5389:389"
      - "5636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
      - ./logs/ldap:/var/log/ldap
      - ./openldap/seed:/container/service/slapd/assets/config/bootstrap/ldif/custom:ro
      - ./openldap/schema:/container/service/slapd/assets/config/bootstrap/schema/custom:ro
    networks:
      - network

  # --- LDAP ADMIN ---
  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: stack02_ldap_admin
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap
      - PHPLDAPADMIN_HTTPS=false
    volumes:
      - phpldapadmin_data:/var/www/phpldapadmin
    depends_on:
      - openldap
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  wildfly_data:
  es_data:
  samba_data:
  samba_config:
  ldap_data:
  ldap_config:
  phpldapadmin_data: